<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LOGCON Challenges</title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/bootstrap4-neon-glow.min.css">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
</head>

<body>
    <%- include('nav',{data:data}) %>

    <div class="jumbotron bg-transparent mb-0 pt-0 radius-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-12  text-center">
                    <h1 class="display-1 bold color_white content__title">Challenges</span></h1>
                    <p class="text-grey text-spacey hackerFont lead mb-5">
                        Its time to show the world what you can do!
                    </p>
                </div>
            </div>
            <div class="row hackerFont">
                <% challenges.forEach( (element)=> { 
                    var isSolved = solveds.some( e => e.chall_pk === element.pk )
                    %>
                    <% if( isSolved ) { %>
                        <div class="col-md-4 mb-3 solved">
                    <% } else { %>
                        <div class="col-md-4 mb-3">
                    <% } %>
                        <div class="card category_<%= element.category %>">
                            <div class="card-header" data-target="#problem_id_<%= element.pk %>" data-toggle="collapse" aria-expanded="true" aria-controls="problem_id_<%= element.pk %>">
                                <%= element.title %> 
                                <% if( isSolved ) { %>
                                    <span class="badge">solved</span> 
                                <% } %>
                                <span class="badge"><%= element.score %> points</span>
                            </div>

                            <div id="problem_id_<%= element.pk %>" class="card-body collapse <% if (!isSolved) { %>show<% } %>">
                                <blockquote class="card-blockquote">
                                    <div style="display: flex;">
                                        <div class="pl-2" style="width: 80px; height: 20px;"><canvas style="width: 80px; height: 20px; display: block;" id="problem_id_1_chart" width="160" height="40"></canvas></div>
                                    </div>
                                    <h4>
                                        <%= element.score %> points
                                    </h4>
                                    
                                    <div class="input-group mt-3">
                                        <button class="btn btn-outline-secondary" type="button" onClick="javascript:location.href='/challenges/detail/<%= element.pk %>'">Go!</button>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>  
    </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>